<html>
<% include ./partials/head %>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="page-center-container">
        <p class="promt-text">
            Please click the button below to login
            <br />
            <a name="" id="" class="btn btn-primary login-btn" href="/login" role="button" style=>Login</a>
        </p>


    </div>
</body>

</html>