<html>
<% include ./partials/head %>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="page-center-container">
        <p class="promt-text">
            <h1> Content Management System </h1>
        </p>


    </div>
</body>

</html>